.product-container table thead.thead-dark th {
    background-color: #616161;
    border: none;
    font-size: 16px;
    font-weight: normal;
}
.product-container table tbody {
    background-color: #fff;
 }
.product-container table tbody tr td {
 background-color: #ffffff;
}
