body {
  margin: 0;
  padding: 0;
  background-color:  #dedede;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  padding: 10px 20px;
}

.btn-purple {
  width: 80px;
  height: 38px;
  border-radius: 4px;
  background-color: #6a1b9a;
  background-size: cover;
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
}

.btn-purple:hover {
  color: #ffffff;
}

.btn-large {
  max-width: 300px;
}

.panel-card {
  border-radius: 4px;
  background: transparent;
  border: none;
}

.panel-card .card-body {
  padding: 0;
}
.panel-card .card-body .card-text strong{
  color: #6a1b9a;
  font-size: 14px;
}

#searchInput {
  height: 40px;
}

.search-error {
  font-size: 14px;
  color: #ff0000;
  display: none;
}